{
    "cuda_visible_devices": "0",
    "cpu": false,
    "seed": 666,
    "do_train": true,
    "do_eval": true,
    "max_seq_length": 500,
    "train_batch_size": 2,
    "model": "bert-base-chinese",
    "tokenizer_model": "bert-base-chinese",
    "load_model_bin": true,
    "checkpoint_weight": "checkpoints/2022_11_04_14_41/model_weight_epoch_1_f1_79.bin",
    "train_epoch": 4,
    "demo_dataset": true,
    "demo_dataset_ratio": 0.1,
    "learning_rate": 1e-6
}